header
{
    background-color: rgb(190, 80, 5);
    align-content: right;
}

.button
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    padding: 0.7em;
    text-align: center;
    background: rgb(0, 60, 255);
    color: rgb(255, 255, 255);
    transition: 0.3s0;
}

.Green
{
    color: lime;
}

.Red
{
    color: red;
}

.Blue
{
    color: blue;
}

.itemtable
{
    margin-bottom: 30px;
}

body
{
    background-image:url(https://th.bing.com/th/id/R.d84bbf87dd2399abd300dd52f6992a63?rik=u2gO4NIXUJa1sQ&riu=http%3a%2f%2fgonintendo.com%2fsystem%2ffile_uploads%2fuploads%2f000%2f025%2f479%2foriginal%2fitud.png&ehk=fSHkkKyy3jF2EqZ01eDVec69d40lOwvfYLfWj1%2b2YmY%3d&risl=&pid=ImgRaw&r=0);
    background-attachment: fixed;
    text-shadow:0 0 10px black ;
    font-weight: bold;
    color: white;
}

table
{
    background-color: white;
}

a
{
    font-style: bold;
    color: rgb(0, 20, 255);
}

a:hover
{
    font-style: bold;
    color: rgb(0, 130, 255);
}

th
{
    background-color: rgb(140, 210, 215);
    text-shadow: 0 0 10px rgb(85, 255, 190);
}

td
{
    text-shadow: 0 0 5px rgb(100, 100, 100);
    color: black;
}

h2
{
    color: rgb(45, 125, 5);
}

hr
{
    height: 5px;
    background-color:rgb(15, 0, 160);
}
